APP_ENV=development
APP_PORT=5000
APP_VERSION=1.0.0
LOG_LEVEL=info
DEBUG_MODE=false
DB_MONGO_URI=mongodb://localhost:27017/zepto_like_dev
ADMIN_WEB_ORIGIN=http://localhost:5174
VENDOR_WEB_ORIGIN=http://localhost:5173
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=change_me
JWT_REFRESH_SECRET=change_me
