VITE_API_BASE_URL=http://localhost:5000
VITE_APP_ENV=development
VITE_ADMIN_SOCKET_BASE_URL=http://localhost:5000/admin
VITE_ADMIN_SOCKET_RECONNECT_ATTEMPTS=5
VITE_ADMIN_SOCKET_RECONNECT_DELAY_MS=1000
